<div class="card" style="width: 20rem;">
  <div class="card-body">

    <h5 class="card-title text-center">
      Add Friend
    </h5>

    <p class="card-text">
		<%= render 'form', friend: @friend %>
    </p>

	<%= link_to 'Back', friends_path %>

  </div>
</div>
